streamlit
opencv-python
numpy
pandas
plotly
matplotlib
seaborn
scikit-learn
boto3
requests
google-generativeai
PyYAML
Pillow
twilio
langchain
langchain-google-genai
langchain_groq
langchain_community
groq
psutil
beautifulsoup4
